/* Header Part -----------------*/

.main-container-1 {
    margin: 50px 140px;
    padding: 0;
    box-sizing: border-box;
}
.container-1 {
    width: 100%;
    height: auto;
    position: relative;
}
.container-1 img {
    width: 100%;
        
}
.container-1 .text-1{
    position: absolute;
    color: red;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    transform: translate(-50%, -50%);
}
.container-1 .text-2{
    position: absolute;
    color: yellow;
    text-align: center;
    top: 25%;
    right: 41%;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*---------Main Body Design-1*/

.main-container-2 {
    margin: 100px 400px;
    padding: 0;
    box-sizing: border-box;
}
.container-2 {
    width: 100%;
    height: auto;
}
.container-2 img {
    width: 100%;
    margin-top: 50px;

}
.container-2 .text-3{
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.container-2 .text-4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}
.container-2 .text-5{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}
/*....Main Body Design-3....*/
.main-container-3 {
    margin: 50px 140px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    
}
.container-3 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
    transition: 0.5s;
  
}
.container-3-img-1 {
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
    
}
.container-3-img-2 {
    width: 200px;
    height: 300px;
    position: absolute;
    padding-left: 720px;
    padding-top: 70px;
}
.container-3 .text-6{
    position: absolute;
    text-align: left;
    padding-top: 100px ;
    padding-left: 100px;
    padding-right: 350px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 900;
    line-height: 60px; /* 137.5% */
    letter-spacing: 7.04px;
}
.container-3 .text-7{
    position: absolute;
    text-align: left;
    padding-top: 230px ;
    padding-left: 100px;
    padding-right: 400px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */;
}

/*....Main Body Design-4....*/

.main-container-4 {
    background-color: lightgoldenrodyellow;
    margin: 50px 140px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
   

}
.container-4 {
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.container-4-text {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.container-4-btn {
    position: absolute;
    padding-top: 280px; 
    padding-left: 360x; 
}
.btn-4 {
    color: white;
    background-color: red;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
}

/*-----main container-5*/

.main-container-5 {
    margin: 50px 140px;
    position: relative;  
    background-color: azure;
    box-sizing: border-box;
    border-radius: 10px;
     
}
.container-5 {
    display: flex;
    justify-content: space-between;
}
.text-8 {
    color: #F00;
    
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 60px;
  
    
}
.text-9 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 20px;
}
.text-10 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 293px;
    padding-top: 50px;
}
.text-11 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 60px
}
.text-12 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 276px;
    padding-top: 30px;
}

.container-5-img-3{
    padding-top: 30px;
}

.circle {
    border-radius: 50%;
	height: 405px;
	width: 405px;
	border: 5px solid red;
}

.circle-image {
    position: absolute;
    top:0;
    left:30%
}
.container-5-img-1 {
    position: absolute;
    top:6.5%;
    left:32.5%;
  
}

