/* Header Part -----------------*/

.main-container-1 {
    margin: 50px 140px;
    padding: 0;
    box-sizing: border-box;
}
.container-1 {
    width: 100%;
    height: auto;
    position: relative;
}
.container-1 img {
    width: 100%;
        
}
.container-1 .text-1{
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    transform: translate(-50%, -50%);
}
.container-1 .text-2{
    position: absolute;
    color: yellow;
    text-align: center;
    top: 25%;
    right: 41%;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*---------Main Body Design-1*/

.main-container-2 {
    margin: 100px 400px;
    padding: 0;
    box-sizing: border-box;
}
.container-2 {
    width: 100%;
    height: auto;
}
.container-2 img {
    width: 100%;
    margin-top: 50px;

}
.container-2 .text-3{
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.container-2 .text-4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}
.container-2 .text-5{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}
/*....Main Body Design-3....*/
.main-container-3 {
    margin: 50px 140px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    
}
.container-3 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
    transition: 0.5s;
  
}
.container-3-img-1 {
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
    
}
.container-3-img-2 {
    width: 200px;
    height: 300px;
    position: absolute;
    padding-left: 830px;
    padding-top: 100px;
}
.container-3 .text-6{
    position: absolute;
    text-align: left;
    padding-top: 100px ;
    padding-left: 100px;
    padding-right: 350px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 900;
    line-height: 60px; /* 137.5% */
    letter-spacing: 7.04px;
}
.container-3 .text-7{
    position: absolute;
    text-align: left;
    padding-top: 230px ;
    padding-left: 100px;
    padding-right: 400px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */;
}

/*....Main Body Design-4....*/

.main-container-4 {
    background-color: lightgoldenrodyellow;
    margin: 50px 140px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
   

}
.container-4 {
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.container-4-text {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.container-4-btn {
    position: absolute;
    padding-top: 280px; 
    padding-left: 360x; 
}
.btn-4 {
    color: white;
    background-color: red;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
}

/*-----main container-5*/

.main-container-5 {
    margin: 50px 140px;
    position: relative;  
    background-color: azure;
    box-sizing: border-box;
    border-radius: 10px;
     
}
.container-5 {
    display: flex;
    justify-content: space-between;
}
.text-8 {
    color: #F00;
    
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 60px;
  
    
}
.text-9 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 20px;
}
.text-10 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 293px;
    padding-top: 50px;
}
.text-11 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 60px
}
.text-12 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 276px;
    padding-top: 30px;
}

.container-5-img-3{
    padding-top: 30px;
}

.circle {
    border-radius: 50%;
	height: 405px;
	width: 405px;
	border: 5px solid red;
}

.circle-image {
    position: absolute;
    top:0;
    left:30%
}
.container-5-img-1 {
    position: absolute;
    top:6.5%;
    left:32.5%;
  
}
/**--------------main container-7*/

.main-container-7 {
    margin: 50px 140px;
    position: relative;  
    box-sizing: border-box;
    border-radius: 10px;
}
.main-container-7-1 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.main-container-7-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 20px;
}
.main-container-7-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 700px;
    padding-top: 20px;
}

.row-picture-1 {
    box-sizing: border-box;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.column-picture-1 {
    float: left;
    
}
.row-picture-2 {
    box-sizing: border-box;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
}
.column-picture-1 {
    float: left;
    position: relative;
    
}
.picture-flex{
    float: inherit;
}

.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
}

.h-im-1 {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
.column-picture-1:hover .overlay{
    opacity: 1;
}

.main-container-8{

    margin: 50px 140px;
    background-color:  rgba(255, 0, 0, 0.05);
    clear: both;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container-8-1 > img {
    width: 150px;
    height: 150px;
    padding-top: 15px;
}
.main-container-8-2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 15px;
}
.main-container-8-3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 700px;
    padding-top: 15px;
}

.subscribe-box{
   display: flex;
}

.button-newsletter{
    width: 160px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFF;
    
}
.subscribe-form-box input[type="text"] {
    padding: 25px 120px;
    border: none;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
/*--------------------main container-9*/
.main-container-9 {
    margin: 50px 140px;
    display: flex;
    justify-content: space-between;
    background-color: #070211;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.text-14 {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    width: 350px;
    padding-left: 100px;
    padding-top: 50px;
}

.text-15{color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 280px;
    padding-bottom: 40px;
    padding-left: 100px;
}
.text-16 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    padding-top: 50px;
    padding-right: 100px;
}
.text-17 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    padding-right: 100px;
}
.text-18 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    padding-top: 280px;
    padding-right: 100px;
}
.social-media{
    position: absolute;
    display: flex;
    top: 45%;
    left: 30%;
}
.icon{
    padding: 24px;
    width: 64px;
    height: 64px;
}
.call{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: absolute;
    padding-left: 840px;
    padding-top: 60px;
}
.web {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: absolute;
    padding-left: 840px;
    padding-top: 100px;

}

/*--------Main Container-5*/

.main-container-11-1{
    margin: 50px 140px;
    position: relative;
}

.main-container-11-A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;

}

.text-19{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-20{
    text-align: center;
    color: black;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 20px;
}
.text-21{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 600px;
    align-self: center;
    padding-top: 20px;
}


.image-11-2-B{
    box-sizing: border-box;
    display: flex;
   
}
.image-11-2{
    width: 100%;
    height:150px;
    padding-top: 330px;
}

.image-11-1-B{
    box-sizing: border-box;
    border: none;
    width: 320px;
    height: 320px;
    top: 248px;
    left: 839px;
    position: absolute;
    
}

.image-11-1{
    width: 100%;
    height: 100%;
}

.image-11-3-B{
    box-sizing: border-box;
    border: none;
    width: 450px;
    height: 300px;
    top: 370px;
    left: 79px;
    position: absolute;
    
}

.image-11-3{
    width: 100%;
    height: 100%;
}

.image-11-4-B{
    box-sizing: border-box;
    border: none;
    width: 200px;
    height: 200px;
    top: 330px;
    left: 760px;
    position: absolute;
    
}

.image-11-4{
    width: 100%;
    height: 100%;
}



